<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChickenDeath1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>ChickenDeath2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,107}}</string>
                <key>sourceSize</key>
                <string>{78,107}</string>
            </dict>
            <key>ChickenDeath3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{84,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,107}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>ChickenDeath4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{79,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,107}}</string>
                <key>sourceSize</key>
                <string>{79,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChickenDeath2@x.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce3c9cc7036cebeda605268825016251$</string>
            <key>textureFileName</key>
            <string>ChickenDeath2@x.png</string>
        </dict>
    </dict>
</plist>
