<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>ChickenFeed</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -24.000,-5.000 }</string>	
								<string>{ -25.000,-7.000 }</string>	
								<string>{ -25.000,-13.000 }</string>	
								<string>{ -22.000,-16.000 }</string>	
								<string>{ -15.000,-19.000 }</string>	
								<string>{ -22.000,-5.000 }</string>
							</array>
							<array>	
								<string>{ 25.000,-15.000 }</string>	
								<string>{ 25.000,-9.000 }</string>	
								<string>{ 22.000,-3.000 }</string>	
								<string>{ 20.000,-2.000 }</string>	
								<string>{ -15.000,2.000 }</string>	
								<string>{ -22.000,-5.000 }</string>	
								<string>{ -15.000,-19.000 }</string>	
								<string>{ 17.000,-19.000 }</string>
							</array>
							<array>	
								<string>{ 8.000,19.000 }</string>	
								<string>{ 1.000,19.000 }</string>	
								<string>{ -14.000,5.000 }</string>	
								<string>{ -15.000,2.000 }</string>	
								<string>{ 20.000,-2.000 }</string>	
								<string>{ 13.000,14.000 }</string>
							</array>
							<array>	
								<string>{ -18.000,2.000 }</string>	
								<string>{ -20.000,0.000 }</string>	
								<string>{ -22.000,-5.000 }</string>	
								<string>{ -15.000,2.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ChickenFeed@2x</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 49.500,-29.000 }</string>	
								<string>{ 49.500,-19.000 }</string>	
								<string>{ 39.000,-0.500 }</string>	
								<string>{ -45.000,-8.500 }</string>	
								<string>{ -50.500,-14.000 }</string>	
								<string>{ -18.000,-37.500 }</string>	
								<string>{ 23.000,-37.500 }</string>	
								<string>{ 38.000,-34.500 }</string>
							</array>
							<array>	
								<string>{ -50.500,-23.000 }</string>	
								<string>{ -45.000,-29.500 }</string>	
								<string>{ -35.000,-34.500 }</string>	
								<string>{ -18.000,-37.500 }</string>	
								<string>{ -50.500,-14.000 }</string>
							</array>
							<array>	
								<string>{ -36.500,3.000 }</string>	
								<string>{ -40.500,-1.000 }</string>	
								<string>{ -45.000,-8.500 }</string>	
								<string>{ 39.000,-0.500 }</string>	
								<string>{ 36.500,1.000 }</string>	
								<string>{ -32.000,3.500 }</string>
							</array>
							<array>	
								<string>{ 14.000,38.500 }</string>	
								<string>{ 6.000,38.500 }</string>	
								<string>{ -32.000,3.500 }</string>	
								<string>{ 36.500,1.000 }</string>	
								<string>{ 24.000,28.500 }</string>
							</array>
							<array>	
								<string>{ -48.500,-11.000 }</string>	
								<string>{ -50.500,-14.000 }</string>	
								<string>{ -45.000,-8.500 }</string>
							</array>
							<array>	
								<string>{ 1.000,36.500 }</string>	
								<string>{ -12.500,25.000 }</string>	
								<string>{ -32.000,3.500 }</string>	
								<string>{ 6.000,38.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ChickenHero</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -1.000,-26.000 }</string>	
								<string>{ -0.500,-17.500 }</string>	
								<string>{ -5.500,-19.500 }</string>	
								<string>{ -11.500,-24.500 }</string>	
								<string>{ -8.500,-26.500 }</string>
							</array>
							<array>	
								<string>{ -15.500,13.500 }</string>	
								<string>{ -20.000,9.000 }</string>	
								<string>{ -20.000,-9.000 }</string>	
								<string>{ -14.500,-15.500 }</string>	
								<string>{ -5.000,-18.000 }</string>	
								<string>{ -9.500,9.500 }</string>
							</array>
							<array>	
								<string>{ 16.000,-22.000 }</string>	
								<string>{ 14.500,-19.500 }</string>	
								<string>{ 8.500,-17.500 }</string>	
								<string>{ 5.000,-18.000 }</string>	
								<string>{ 4.000,-22.000 }</string>	
								<string>{ 9.500,-24.500 }</string>	
								<string>{ 13.000,-25.000 }</string>
							</array>
							<array>	
								<string>{ 7.500,-26.500 }</string>	
								<string>{ 9.500,-24.500 }</string>	
								<string>{ 4.000,-22.000 }</string>
							</array>
							<array>	
								<string>{ 13.500,26.500 }</string>	
								<string>{ 8.500,27.500 }</string>	
								<string>{ 14.500,18.500 }</string>	
								<string>{ 16.000,22.000 }</string>
							</array>
							<array>	
								<string>{ -12.000,-22.000 }</string>	
								<string>{ -11.500,-24.500 }</string>	
								<string>{ -5.500,-19.500 }</string>
							</array>
							<array>	
								<string>{ 1.000,22.000 }</string>	
								<string>{ 2.000,19.000 }</string>	
								<string>{ 7.500,27.500 }</string>
							</array>
							<array>	
								<string>{ -5.500,-19.500 }</string>	
								<string>{ -0.500,-17.500 }</string>	
								<string>{ -5.000,-18.000 }</string>
							</array>
							<array>	
								<string>{ 15.000,-15.000 }</string>	
								<string>{ 19.000,-10.000 }</string>	
								<string>{ 18.000,13.000 }</string>	
								<string>{ 8.500,27.500 }</string>	
								<string>{ 7.500,27.500 }</string>	
								<string>{ 5.000,-18.000 }</string>	
								<string>{ 8.500,-17.500 }</string>
							</array>
							<array>	
								<string>{ -9.500,9.500 }</string>	
								<string>{ -5.000,-18.000 }</string>	
								<string>{ -4.500,9.500 }</string>
							</array>
							<array>	
								<string>{ -4.500,9.500 }</string>	
								<string>{ -5.000,-18.000 }</string>	
								<string>{ -0.500,-17.500 }</string>	
								<string>{ 2.000,19.000 }</string>
							</array>
							<array>	
								<string>{ -0.500,-17.500 }</string>	
								<string>{ 5.000,-18.000 }</string>	
								<string>{ 7.500,27.500 }</string>	
								<string>{ 2.000,19.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ChickenHero@2x</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -22.000,-48.500 }</string>	
								<string>{ -16.500,-49.000 }</string>	
								<string>{ -11.000,-40.500 }</string>	
								<string>{ -19.000,-41.500 }</string>	
								<string>{ -22.500,-44.000 }</string>
							</array>
							<array>	
								<string>{ 22.000,-52.500 }</string>	
								<string>{ 25.500,-51.000 }</string>	
								<string>{ 27.000,-47.500 }</string>	
								<string>{ 16.500,-38.000 }</string>	
								<string>{ 9.500,-37.000 }</string>	
								<string>{ 19.000,-49.500 }</string>
							</array>
							<array>	
								<string>{ 31.500,-45.000 }</string>	
								<string>{ 31.000,-41.500 }</string>	
								<string>{ 29.000,-39.500 }</string>	
								<string>{ 16.500,-38.000 }</string>	
								<string>{ 27.000,-47.500 }</string>
							</array>
							<array>	
								<string>{ -15.000,-53.500 }</string>	
								<string>{ -12.000,-53.500 }</string>	
								<string>{ -8.500,-51.000 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ -11.000,-40.500 }</string>	
								<string>{ -16.500,-49.000 }</string>
							</array>
							<array>	
								<string>{ -6.000,-53.500 }</string>	
								<string>{ -1.500,-53.000 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ -8.500,-51.000 }</string>
							</array>
							<array>	
								<string>{ 18.500,-52.000 }</string>	
								<string>{ 19.000,-49.500 }</string>	
								<string>{ 9.500,-37.000 }</string>	
								<string>{ 9.500,-46.000 }</string>	
								<string>{ 16.000,-53.500 }</string>
							</array>
							<array>	
								<string>{ -11.000,-40.500 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ -9.500,-37.000 }</string>
							</array>
							<array>	
								<string>{ 30.500,45.000 }</string>	
								<string>{ 27.500,48.000 }</string>	
								<string>{ 15.000,54.500 }</string>	
								<string>{ 28.000,36.500 }</string>	
								<string>{ 30.500,39.000 }</string>
							</array>
							<array>	
								<string>{ 2.500,44.000 }</string>	
								<string>{ 2.500,40.000 }</string>	
								<string>{ 4.500,37.000 }</string>	
								<string>{ 8.000,48.500 }</string>
							</array>
							<array>	
								<string>{ 10.500,53.000 }</string>	
								<string>{ 8.000,48.500 }</string>	
								<string>{ 4.500,37.000 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ 15.000,54.500 }</string>	
								<string>{ 14.000,54.500 }</string>
							</array>
							<array>	
								<string>{ 27.000,52.500 }</string>	
								<string>{ 25.000,54.500 }</string>	
								<string>{ 15.000,54.500 }</string>	
								<string>{ 27.500,48.000 }</string>
							</array>
							<array>	
								<string>{ 28.000,-32.500 }</string>	
								<string>{ 36.500,-25.000 }</string>	
								<string>{ 38.500,-21.000 }</string>	
								<string>{ 28.000,36.500 }</string>	
								<string>{ 15.000,54.500 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ 9.500,-37.000 }</string>
							</array>
							<array>	
								<string>{ -23.000,23.500 }</string>	
								<string>{ -32.000,26.500 }</string>	
								<string>{ -34.500,25.000 }</string>	
								<string>{ -39.500,16.000 }</string>	
								<string>{ -39.500,-18.000 }</string>	
								<string>{ -17.000,17.500 }</string>
							</array>
							<array>	
								<string>{ 16.500,-38.000 }</string>	
								<string>{ 16.000,-35.500 }</string>	
								<string>{ 9.500,-37.000 }</string>
							</array>
							<array>	
								<string>{ 32.000,33.500 }</string>	
								<string>{ 28.000,36.500 }</string>	
								<string>{ 38.500,-21.000 }</string>	
								<string>{ 36.500,24.000 }</string>
							</array>
							<array>	
								<string>{ -9.000,19.500 }</string>	
								<string>{ -17.000,17.500 }</string>	
								<string>{ -39.500,-18.000 }</string>	
								<string>{ -38.000,-21.500 }</string>	
								<string>{ -9.500,-37.000 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ -8.000,18.500 }</string>
							</array>
							<array>	
								<string>{ -28.000,-31.500 }</string>	
								<string>{ -22.000,-34.500 }</string>	
								<string>{ -9.500,-37.000 }</string>	
								<string>{ -38.000,-21.500 }</string>
							</array>
							<array>	
								<string>{ -8.000,18.500 }</string>	
								<string>{ -2.000,-36.500 }</string>	
								<string>{ 4.500,37.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Flower</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 24.000,3.000 }</string>	
								<string>{ 23.500,9.500 }</string>	
								<string>{ 18.500,12.500 }</string>	
								<string>{ 10.500,12.500 }</string>	
								<string>{ 13.500,-2.500 }</string>	
								<string>{ 18.500,-1.500 }</string>
							</array>
							<array>	
								<string>{ -25.000,9.000 }</string>	
								<string>{ -24.500,2.500 }</string>	
								<string>{ -20.500,-1.500 }</string>	
								<string>{ -14.500,-3.500 }</string>	
								<string>{ -9.500,9.500 }</string>	
								<string>{ -14.500,12.500 }</string>	
								<string>{ -20.500,12.500 }</string>
							</array>
							<array>	
								<string>{ 2.500,22.500 }</string>	
								<string>{ -1.500,22.500 }</string>	
								<string>{ -4.000,-18.000 }</string>	
								<string>{ -1.000,-12.000 }</string>	
								<string>{ 7.000,11.000 }</string>	
								<string>{ 7.000,17.000 }</string>	
								<string>{ 5.500,19.500 }</string>
							</array>
							<array>	
								<string>{ -8.000,17.000 }</string>	
								<string>{ -9.500,9.500 }</string>	
								<string>{ -4.000,-18.000 }</string>	
								<string>{ -1.500,22.500 }</string>
							</array>
							<array>	
								<string>{ -21.000,-13.000 }</string>	
								<string>{ -19.500,-18.500 }</string>	
								<string>{ -15.500,-21.500 }</string>	
								<string>{ -8.500,-21.500 }</string>	
								<string>{ -4.000,-18.000 }</string>	
								<string>{ -14.500,-3.500 }</string>	
								<string>{ -19.000,-8.000 }</string>
							</array>
							<array>	
								<string>{ -14.500,-3.500 }</string>	
								<string>{ -4.000,-18.000 }</string>	
								<string>{ -9.500,9.500 }</string>
							</array>
							<array>	
								<string>{ 8.500,-19.500 }</string>	
								<string>{ 14.000,-18.000 }</string>	
								<string>{ 18.000,-14.000 }</string>	
								<string>{ 19.000,-10.000 }</string>	
								<string>{ 13.500,-2.500 }</string>	
								<string>{ -1.000,-12.000 }</string>
							</array>
							<array>	
								<string>{ 13.500,-2.500 }</string>	
								<string>{ 10.500,12.500 }</string>	
								<string>{ 7.000,11.000 }</string>	
								<string>{ -1.000,-12.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Flower@2x</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 48.000,16.500 }</string>	
								<string>{ 39.000,23.500 }</string>	
								<string>{ 25.000,24.500 }</string>	
								<string>{ 13.500,20.000 }</string>	
								<string>{ 27.000,-5.500 }</string>	
								<string>{ 36.000,-3.500 }</string>	
								<string>{ 44.500,1.000 }</string>	
								<string>{ 48.500,5.000 }</string>
							</array>
							<array>	
								<string>{ -17.000,-43.500 }</string>	
								<string>{ -5.500,-33.000 }</string>	
								<string>{ -26.000,-7.500 }</string>	
								<string>{ -35.500,-15.000 }</string>	
								<string>{ -37.000,-38.500 }</string>	
								<string>{ -31.000,-43.500 }</string>
							</array>
							<array>	
								<string>{ 37.500,-19.000 }</string>	
								<string>{ 34.000,-12.500 }</string>	
								<string>{ 27.000,-5.500 }</string>	
								<string>{ 28.500,-37.000 }</string>	
								<string>{ 36.500,-27.000 }</string>
							</array>
							<array>	
								<string>{ 5.000,44.500 }</string>	
								<string>{ -1.000,44.500 }</string>	
								<string>{ 13.500,20.000 }</string>	
								<string>{ 14.500,32.000 }</string>	
								<string>{ 12.500,36.000 }</string>
							</array>
							<array>	
								<string>{ -49.500,6.000 }</string>	
								<string>{ -45.000,0.500 }</string>	
								<string>{ -38.000,-4.500 }</string>	
								<string>{ -18.000,17.500 }</string>	
								<string>{ -30.000,24.500 }</string>	
								<string>{ -39.000,24.500 }</string>	
								<string>{ -45.500,21.000 }</string>	
								<string>{ -49.500,16.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,-38.500 }</string>	
								<string>{ 26.000,-38.500 }</string>	
								<string>{ 28.500,-37.000 }</string>	
								<string>{ 13.500,20.000 }</string>	
								<string>{ -1.000,44.500 }</string>	
								<string>{ -6.500,42.000 }</string>	
								<string>{ -1.500,-22.000 }</string>	
								<string>{ 7.000,-32.500 }</string>
							</array>
							<array>	
								<string>{ -38.000,-4.500 }</string>	
								<string>{ -26.000,-7.500 }</string>	
								<string>{ -18.000,17.500 }</string>
							</array>
							<array>	
								<string>{ -40.500,-33.000 }</string>	
								<string>{ -37.000,-38.500 }</string>	
								<string>{ -35.500,-15.000 }</string>	
								<string>{ -40.500,-24.000 }</string>
							</array>
							<array>	
								<string>{ -26.000,-7.500 }</string>	
								<string>{ -5.500,-33.000 }</string>	
								<string>{ -1.500,-26.000 }</string>	
								<string>{ -1.500,-22.000 }</string>	
								<string>{ -6.500,42.000 }</string>	
								<string>{ -18.000,17.500 }</string>
							</array>
							<array>	
								<string>{ -17.500,26.000 }</string>	
								<string>{ -18.000,17.500 }</string>	
								<string>{ -6.500,42.000 }</string>	
								<string>{ -14.500,33.000 }</string>
							</array>
							<array>	
								<string>{ 27.000,-5.500 }</string>	
								<string>{ 13.500,20.000 }</string>	
								<string>{ 28.500,-37.000 }</string>
							</array>
							<array>	
								<string>{ -2.000,44.500 }</string>	
								<string>{ -6.500,42.000 }</string>	
								<string>{ -1.000,44.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>FryingPan</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 33.500,21.500 }</string>	
								<string>{ 26.500,21.500 }</string>	
								<string>{ 23.500,9.500 }</string>	
								<string>{ 31.000,12.000 }</string>	
								<string>{ 34.000,15.000 }</string>
							</array>
							<array>	
								<string>{ -35.000,-6.000 }</string>	
								<string>{ -35.000,-12.000 }</string>	
								<string>{ -29.500,-18.500 }</string>	
								<string>{ -25.500,-20.500 }</string>	
								<string>{ 7.500,0.500 }</string>	
								<string>{ -1.500,1.500 }</string>	
								<string>{ -14.500,1.500 }</string>	
								<string>{ -30.500,-2.500 }</string>
							</array>
							<array>	
								<string>{ 23.500,9.500 }</string>	
								<string>{ 26.500,21.500 }</string>	
								<string>{ 25.500,21.500 }</string>	
								<string>{ -1.500,1.500 }</string>	
								<string>{ 7.500,0.500 }</string>
							</array>
							<array>	
								<string>{ 4.000,-14.000 }</string>	
								<string>{ 7.000,-8.000 }</string>	
								<string>{ 7.500,0.500 }</string>	
								<string>{ -25.500,-20.500 }</string>	
								<string>{ -6.500,-20.500 }</string>	
								<string>{ -1.500,-18.500 }</string>
							</array>
							<array>	
								<string>{ 9.500,12.500 }</string>	
								<string>{ -1.500,1.500 }</string>	
								<string>{ 25.500,21.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>FryingPan@2x</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 68.000,41.500 }</string>	
								<string>{ 55.000,42.500 }</string>	
								<string>{ 27.000,8.500 }</string>	
								<string>{ 67.500,27.000 }</string>
							</array>
							<array>	
								<string>{ -69.500,-12.000 }</string>	
								<string>{ -69.500,-24.000 }</string>	
								<string>{ -67.500,-28.000 }</string>	
								<string>{ 13.500,-6.000 }</string>	
								<string>{ 12.000,-2.500 }</string>	
								<string>{ -4.000,1.500 }</string>	
								<string>{ -36.000,0.500 }</string>	
								<string>{ -62.000,-6.500 }</string>
							</array>
							<array>	
								<string>{ 4.500,-32.000 }</string>	
								<string>{ 10.500,-24.000 }</string>	
								<string>{ 13.500,-6.000 }</string>	
								<string>{ -67.500,-28.000 }</string>	
								<string>{ -61.000,-35.500 }</string>	
								<string>{ -48.000,-41.500 }</string>	
								<string>{ -17.000,-41.500 }</string>	
								<string>{ -4.000,-37.500 }</string>
							</array>
							<array>	
								<string>{ 13.500,-15.000 }</string>	
								<string>{ 13.500,-6.000 }</string>	
								<string>{ 10.500,-24.000 }</string>
							</array>
							<array>	
								<string>{ 7.500,14.000 }</string>	
								<string>{ -4.000,1.500 }</string>	
								<string>{ 12.000,-2.500 }</string>	
								<string>{ 55.000,42.500 }</string>	
								<string>{ 54.000,42.500 }</string>	
								<string>{ 38.000,35.500 }</string>	
								<string>{ 25.000,27.500 }</string>
							</array>
							<array>	
								<string>{ 27.000,8.500 }</string>	
								<string>{ 55.000,42.500 }</string>	
								<string>{ 15.000,0.500 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

